---
import { Image } from "astro:assets";
import BlackHoleAnchor from "../components/BlackHoleAncor"
import Layout from "../layouts/Layout.astro"
import MarcoDiv from "../components/MarcoDiv"
import agendaCita from"../assets/img/agenda-citas.png"
import cursoOnline from "../assets/img/cursosonline.png"
import buscardoAutos from "../assets/img/buscadorautos.png"
import batataBit from "../assets/img/batatabit.png"
import easyTravel from "../assets/img/easytravel.png"
---

<Layout title="Javascript">
    <main>
        <div class="relative md:w-2/3">
            <div class="w-full top-14 absolute max-sm:h-screen max-sm:overflow-scroll flex flex-wrap justify-center ml-5 gap-4">
                <div class="w-60 h-36 flex">
                    <MarcoDiv>
                        <a href="https://citasmascotas20.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <Image src={agendaCita} alt="Agenda de citas" />
                          </a>
                    </MarcoDiv>
                </div>
                <div class="w-60 h-36 flex">
                    <MarcoDiv>
                        <a href="https://curso-universitarios.netlify.app/" target="_blank" rel="noopener noreferrer">
                            <Image src={cursoOnline} alt="cursos online" />
                          </a>
                </MarcoDiv>
            </div>
            <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="https://buscadorautos20.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <Image src={buscardoAutos} alt="Buscador de autos" />
                      </a>
                </MarcoDiv>
            </div>
            <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="https://batatabit2.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <Image src={batataBit} alt="batatabit" />
                      </a>
                </MarcoDiv>
            </div>
            <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="https://easytravel2.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <Image src={easyTravel} alt="easytravel" />
                      </a>
                </MarcoDiv>
            </div>
            <!-- <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="https://easytravel2.netlify.app/" target="_blank" rel="noopener noreferrer">
                        <img src="" alt="" />
                      </a>
                </MarcoDiv>
            </div>
            <div class="w-60 h-36 flex">
                <MarcoDiv>
                    <a href="working">
                        <img src="" alt="Working" />
                      </a>
                </MarcoDiv>
            </div> -->

        </div>  
        </div>
        <BlackHoleAnchor/>
    </main>
    
    
</Layout>